<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Einstellungen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="einstellungen-page">
    <nav>
    <a href="{{ url_for('startseite') }}">Startseite</a>

    {% if session.get('user_id') or session.get('org_id') %}
        <a href="{{ url_for('suche') }}">Suche</a>
    {% endif %}

    {% if session.get('user_id') %}
        <a href="{{ url_for('spenden') }}">Spenden</a>
        <a href="{{ url_for('meine_spenden') }}">Meine Spenden</a>
        <a href="{{ url_for('einstellungen') }}" class="active">Einstellungen</a>

    {% elif session.get('org_id') %}
        <a href="{{ url_for('org_spenden') }}">Spendenübersicht</a>
        <a href="{{ url_for('einstellungen') }}" class="active">Einstellungen</a>
    {% endif %}

    {% if session.get('user_id') or session.get('org_id') %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </nav>

        <div class="banner">
        <h2>Profil</h2>
        </div>

    <section>

        <div style="text-align: center;">
            <img src="{{ url_for('static', filename='images/profilbild.jpg') }}" alt="Profilbild" style="width:100px; border-radius:50%;">
            <p><strong>{{ nutzer['name'] }}</strong><br>{{ nutzer['email'] }}</p>
        </div>

        <div class="card">
            <h3>Allgemeine Einstellungen</h3>
        </div>
        <label>
            Mode: Dark & Light
            <input type="checkbox" checked>
        </label>
        <p><a href="#">Passwort ändern</a></p>
        <p><a href="#">Sprache ändern</a></p>
        {% if session.get('org_id') %}
            <div class="card">
                <h3>Organisation</h3>
            </div>
            <p><a href="{{ url_for('zertifikate') }}">Zertifikat</a></p>
        {% endif %}

        <div class="card">
            <h3>Informationen</h3>
        </div>
        <p><a href="#">Datenschutz</a></p>
        <p><a href="#">Privacy Policy</a></p>
    </section>
</body>
</html>