<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>ReGive - Einloggen oder Registrieren</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo von ReGive">
    <h1>ReGive - Spenden statt entsorgen.</h1>
    <p> Wir verbinden ungenutzte Rückgabeartikel aus dem Einkaufsschutz mit gemeinnützigen Organisationen.</p>
    <p>So schaffen wir gesellschaftlichen Mehrwert und reduzieren Ressourcenverschwendung.</p>
    <div>
        <h2>Jetzt einloggen!</h2>
        <button>Login als Organisation</button>
        <br>
        <button>Login als Spender</button>
    </div>
    <div>
        <h2>Noch nicht registriert?</h2>
        <button>Registrierung als Organisation</button>
        <br>
        <button>Registrierung als Spender</button>
    </div>
</body>
</html>