<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Jetzt einloggen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo von ReGive">
    <form method="POST" action="{{ url_for('login_organisation') }}">
        <p>E-Mail-Adresse</p>
        <input type="text" name="email" placeholder="E-Mail-Adresse eingeben" required>
        <p>Passwort</p>
        <input type="password" name="passwort" placeholder="Passwort eingeben" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>