<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Jetzt einloggen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo von ReGive">
    <p>E-Mail-Adresse</p>
    <input type="text" name="textfeld" title="Text" placeholder="E-Mail-Adresse eingeben" value=""/>
    <p>Passwort</p>
    <input type="password" name="passwortfeld" title="Passwort" placeholder="Passwort eingeben"/>
    <button onclick="window.location.href='{{ url_for('startseite') }}'">Login</button>
</body>
</html>