<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Jetzt einloggen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="login-spender-page">
    <div class="login-logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo von ReGive">
    </div>

    {% if fehler %}
        <p style="color: red;">{{ fehler }}</p>
    {% endif %}

    <form method="post">
        <label for="email">E-Mail-Adresse</label>
            <input type="text" id="email" name="email" placeholder="E-Mail-Adresse eingeben" required>

        <label for="passwort">Passwort</label>
            <input type="password" id="passwort" name="passwort" placeholder="Passwort eingeben" required>

        <button type="submit">Login</button>
    </form>
</body>
</html>