<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Spenden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id="spenden-page">
    <nav>
    <a href="{{ url_for('startseite') }}">Startseite</a>

    {% if session.get('user_id') %}
        <a href="{{ url_for('suche') }}">Suche</a>
        <a href="{{ url_for('spenden') }}" class="active">Spenden</a>
        <a href="{{ url_for('meine_spenden') }}">Meine Spenden</a>
        <a href="{{ url_for('einstellungen') }}">Einstellungen</a>

    {% elif session.get('org_id') %}
        <a href="{{ url_for('org_spenden') }}">Spendenübersicht</a>
        <a href="{{ url_for('einstellungen') }}">Einstellungen</a>
    {% endif %}

    {% if session.get('user_id') or session.get('org_id') %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </nav>
    <div class="spenden-page-content">

        {% if fehler %}
            <p style="color: red;">{{ fehler }}</p>
        {% endif %}
        {% if erfolg %}
            <p style="color: green;">{{ erfolg }}</p>
        {% endif %}

        <section>
            <h2>Sachspende hochladen</h2>
            <form method="POST" action="{{ url_for('spenden') }}">
                <input type="hidden" name="spendenart" value="sache">
                <input type="text" name="produkt" placeholder="Produktbezeichnung" required>
                <input type="text" name="ort" placeholder="Ort" required>
                <input type="date" name="kaufdatum" placeholder="Kaufdatum">
                <button type="submit">Spende hochladen</button>
            </form>

            <h2>Geldspende</h2>
            <form method="POST" action="{{ url_for('spenden') }}">
                <input type="hidden" name="spendenart" value="geld">
                <input type="number" name="betrag" placeholder="Betrag" step="0.01" required>
                <select name="organisation" required>
                    <option>Organisation1</option>
                    <option>Organisation2</option>
                </select>
                <select name="zahlungsmethode" required>
                    <option value="">Organisation wählen</option>
                    <option>PayPal</option>
                    <option>Kreditkarte</option>
                </select>
                <button type="submit">Spenden</button>
            </form>
        </section>
    </div>
</body>
</html>