<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Organisations-Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
    <a href="{{ url_for('startseite') }}" class="active">Startseite</a>

    {% if session.get('user_id') or session.get('org_id') %}
        <a href="{{ url_for('suche') }}">Suche</a>
    {% endif %}

    {% if session.get('user_id') %}
        <a href="{{ url_for('spenden') }}">Spenden</a>
        <a href="{{ url_for('meine_spenden') }}">Meine Spenden</a>
        <a href="{{ url_for('einstellungen') }}">Einstellungen</a>

    {% elif session.get('org_id') %}
        <a href="{{ url_for('org_spenden') }}">Spendenübersicht</a>
        <a href="{{ url_for('einstellungen') }}">Einstellungen</a>
    {% endif %}

    {% if session.get('user_id') or session.get('org_id') %}
        <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
    </nav>
    <h1>Willkommen im Organisations-Dashboard</h1>
</body>
</html>